# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Python files
.idea
__pycache__

# Настройки Visual Studio
.vs/
# lab_2.vcxproj
# lab_2.vcxproj.filters
# lab_2.vcxproj.user
# lab_2.slnx

# Файлы C++
x64/